.DS_Store

*.py[cod]
*.sw[op]
*.dmg
*.zip
*.tar*
*.bz2
*.bak
*.BAK
*.OLD

.Python
build/
dist/
sdist/
*.egg-info/
*.egg
*.tar*
bin/
*/bin/
include/
*/include/
lib/
*/lib/
**/venv/
**/.cache

**/.idea
node_modules
*.log
.env
.tmp
_temp
